@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

/* Estilos generales para todos los dispositivos */
body {
    color: rgb(255, 255, 255);
    font-family: Montserrat, Arial, Helvetica, sans-serif;


    background:rgba(255, 255, 255, 0.2) url("../img/fondo3.jpg") no-repeat fixed center;

    font-size: 16px;
  }

header {
    background-color: rgb(1, 104, 55, 0.821);
    padding: 15px;
    margin: 10px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 50px;
}

nav {
    background-color: rgb();
    margin: 10px;
}

h1 {
    font-size: 2rem;
    /* 32px */
}

h2 {
    font-size: 1.5rem;
    /* 24px */
}

p {
    font-size: 1rem;
    /* 16px */
}

a {
    color: rgb(255, 236, 202);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }


footer {
    margin-top: 50px;
    color:#fff;
    text-align: left;
    background-color: rgb(57, 57, 58);
    font-size: 100px;
  }

.centrado {
    text-align: center;
    font-size: 100%;
    color: rgb(255, 255, 255);
}

/* Imagen de mapa de llegar */
.borde-imagen{
    border: 2px solid #000;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.centrado-parrafo{
    text-align: center;
    font-size: 50%;
}

#colores {
    color: black;
}

/* Flex box de Descuentos*/

.contenedor-padre {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    margin: 10px;
}

/* Flex box de Descuentos*/
.contenedor-hijo {
    width: calc(50% - 10px);
    margin-bottom: 20px; 
    background-color: rgb(19, 54, 73, 0.8211);
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    font-size: large;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
}

/* Subtitulo de header */
.subtitulo{
    color: rgb(255, 255, 255);
    font-size: 70%;
    text-align: center;
}

/* Fondos */

.fondo-verde {
    background-color: rgb(1, 104, 55, 0.821);
    margin: 10px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
}

.fondo-azul {
    background-color: rgb(19, 54, 73, 0.821);
    margin: 10px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
}

/* Formulario de pedido de productos */

.margenes{
    color: white;
    background-color: rgb(19, 54, 73, 0.821);
    padding: 15px;
    margin: 10px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    display: flex;
    justify-content: center;

}

.formulario-pedido {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid rgb(1, 104, 55);
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
    margin-bottom: 50px;
}

.formulario-pedido h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.formulario-pedido label {
    display: block;
    text-align: left;
    margin-top: 10px;
}

.formulario-pedido select,
.formulario-pedido input[type="number"],
.formulario-pedido input[type="text"],
.formulario-pedido textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 3px solid rgb(1, 104, 55);
    border-radius: 5px;
}

.formulario-pedido input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
}

.formulario-pedido input[type="submit"]:hover {
    background-color: rgb(1, 104, 55);
}

/* Lista de Producto */

.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

.producto {
    width: calc(33.33% - 20px);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    background-color: rgba(1, 104, 55, 0.821);
}

.producto img {
    max-width: 100%;
    border: solid black;
    border-radius: 5px;
}

.producto h3 {
    font-size: 18px;
    margin: 10px 0;
}

.producto p {
    margin: 10px 0;
}

.producto button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.producto button:hover {
    background-color:rgb(1, 104, 55);
}

.nombre-producto {
    flex: 1;
    text-align: left;
}

.precio-producto {
    flex: 1;
    text-align: right;
}

.cantidad {
    flex: 1;
    text-align: right;
}

.total {
    font-weight: bold;
    margin-top: 10px;
}

.confirmar {
    background-color: rgb(1, 104, 55);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
}

.confirmar:hover {
    background-color: rgb(1, 104, 55);
}

/* Media Query */
@media only screen and (max-width: 768px) {
    [class="producto"] {
      width: 100%;
    }
    [class="margenes"] {
        width: 100%;
      }
}

/* Animación */
@keyframes miAnimacion {
    0% {
     
      transform: scale(1);
      opacity: 1;
    }
    50% {
   
      transform: scale(1.2);
      opacity: 0.5;
    }
    100% {
    
      transform: scale(1);
      opacity: 1;
    }

  }

#animacion {
    animation: miAnimacion 3s ease infinite;
}
 
/* Estilo para tamaño y posicionamiento de imagen*/
.imagen-derecha {
    float: right;
    width: 300px;
    height: 300px;
}

.imagen-izquierda {
    float: left;
    width: 250px;
    height: 250px;
    margin-right: 10px;
}
  
  /* Media query para dispositivos móviles */
  @media (max-width: 767px) {
    body {
      font-size: 14px;
    }
  }
  
  /* Media query para tablets */
  @media (min-width: 768px) and (max-width: 1023px) {
    body {
      font-size: 15px;
    }
  }
  
  /* Media query para pantallas de escritorio */
  @media (min-width: 1024px) {
    body {
      font-size: 16px;
    }
  }

  /* Estilos generales para todas las imágenes */
img {
    max-width: 100%;
    height: auto;
  }
  
  /* Media query para dispositivos móviles */
  @media (max-width: 767px) {
    img {
      max-width: 100%;
      height: auto;
    }
  }
  
  /* Media query para tablets */
  @media (min-width: 768px) and (max-width: 1023px) {
    img {
      max-width: 80%;
      height: auto;
    }
  }
  
  /* Media query para pantallas de escritorio */
  @media (min-width: 1024px) {
    img {
      max-width: 100%;
      height: auto;
    }
  }

/* ID de colores para letras de productos */
#colores {
    color: black;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  
  .flex-container > div {
    width: 0px auto ;
    margin: 0px auto;
    text-align: center;
  }