@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

body {
    color: rgb(255, 255, 255);
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 14px;

    /* background-image: url("../img/pizza.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;*/

    background: #fff url("../img/fondo.jpeg") no-repeat fixed center;
    /* background-size: cover; */
}

header {
    background-color: rgba(1, 104, 55, 0.821);
    padding: 15px;
    margin: 10px;
}

nav{
    background-color: rgba(18, 49, 67, 0.821);
    padding: 15px;
    margin: 10px;
}

header {
    font-size: 50px;
}

h1 {
    font-size: 2rem;
    /* 32px */
}

h2 {
    font-size: 1.5rem;
    /* 24px */
}

p {
    font-size: 1rem;
    /* 16px */
}

a {
    color: rgb(255, 236, 202);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

footer {
    color:#fff;
    text-align: left;
    background-color: rgb(57, 57, 58);
    font-size: 100px;
  }

.centrado {
    text-align: center;
    font-size: 100%;
}

.centrar-imagen{
    text-align: center; /* Centra horizontalmente */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh;
}

.centrado-parrafo{
    text-align: center;
    font-size: 50%;
}