@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

body {
    color: white
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 14px;

    background: #fff url("../img/fondo.jpeg") no-repeat fixed center;
    
}

header {
    background-color: white
    padding: 15px;
    margin: 10px;
}

nav{
    background-color: white
    margin: 10px;
}

header {
    font-size: 50px;
}

h1 {
    font-size: 2rem;
    /* 32px */
}

h2 {
    font-size: 1.5rem;
    /* 24px */
}

p {
    font-size: 1rem;
    /* 16px */
}

a {
    color: rgb(255, 236, 202);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }


footer {
    color:#fff;
    text-align: left;
    background-color: rgb(57, 57, 58);
    font-size: 100px;
  }

.centrado {
    text-align: center;
    font-size: 100%;
}

.centrar-imagen{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}

.centrado-parrafo{
    text-align: center;
    font-size: 50%;
}

#colores {
    color: black;
}

.contenedor-padre {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contenedor-hijo {
    width: calc(50% - 10px);
    margin-bottom: 20px; 
    background-color: rgb(1, 104, 55, 0.821);
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    font-size: large;
}

.subtitulo{
    color: black;
    font-size: 70%;
    text-align: center;
}